*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.alyapic {
    border-radius: 1cm;
    border-width: 1px;
    background-color: aquamarine;
}


header,footer{
    background-color: black;
    color: white;
    width: 100%;
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}