*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.alyapic {
    border-radius: 1cm;
    border-width: 1px;
    background-color: aquamarine;
}


header,footer{
    background-color: rgb(64, 61, 61);
    color: white;
    width: 100%;
    
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 30px 0;

}
header h2{
    font-size: 30px;
}

header{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    padding: 0 15px;
}

p{
    color: #000;
}